# .env.example
DISCORD_BOT_TOKEN="VOTRE_TOKEN_ICI"
GUILD_ID=VOTRE_ID_DE_SERVEUR_ICI
DATABASE_URL="URL_DE_VOTRE_BASE_DE_DONNEES_SI_BESOIN"
DATABASE_USER="VOTRE_UTILISATEUR_DE_LA_BASE_DE_DONNEES"
DATABASE_PASSWORD="LE_MOT_DE_PASSE_DE_L-UTILISATEUR_DE_LA_DB"
DATABASE_NAME="NOM_DE_LA_DATABASE"
