# .env.example

# --- Bot ---
# Token secret de ton application Discord
DISCORD_BOT_TOKEN="VOTRE_TOKEN_ICI"

# (Optionnel) ID du serveur de test pour un chargement instantané des commandes
GUILD_ID=VOTRE_ID_DE_SERVEUR_ICI

# --- Environnement ---
# L'environnement d'exécution. Mettre "dev" ou "prod".
APP_ENV="dev"

# --- Base de Données ---
# L'URL de connexion complète, incluant le pilote, l'utilisateur, le mot de passe, l'hôte et le nom de la base.
#
# Exemples :
# (Dev)   DATABASE_URL="sqlite+aiosqlite:///./dev_database.db"
# (Prod)  DATABASE_URL="postgresql+asyncpg://VOTRE_USER:VOTRE_PASS@VOTRE_HOST:5432/VOTRE_DB"
# (Prod)  DATABASE_URL="mysql+aiomysql://VOTRE_USER:VOTRE_PASS@VOTRE_HOST:3306/VOTRE_DB"
DATABASE_URL="sqlite+aiosqlite:///./dev_database.db"

# --- Logging ---
# Surcharge le LOG_LEVEL pour être en mode DEBUG
LOG_LEVEL="DEBUG"

# --- Email ---
SMTP_HOST="smtp.votre-ecole.com"
SMTP_PORT=587
SMTP_USER="votre-email@comite.com"
SMTP_PASS="votre-mot-de-passe"
SMTP_SENDER_EMAIL="bot-no-reply@comite.com"

# Options de sécurité pour SMTP
# Le TLS explicite (STARTTLS) est recommandé si le serveur le supporte.
# Les deux options ne doivent pas être activées en même temps !
SMTP_USE_TLS="true"
SMTP_START_TLS="false"
